# Binance Smart Chain Testnet
BSC_SCAN_API_KEY=''
BSC_TESTNET_RPC_URL=''
BSC_TESTNET_WSS_URL=''

# CoinMarketCap API Key
COINMARKETCAP_API_KEY=''

# Polygon Mumbai Testnet
POLYGON_SCAN_API_KEY=''
POLYGON_MUMBAI_RPC_URL=''

# wallet addresses and private keys
WALLET_PRIVATE_KEY=''
WALLET_PUBLIC_KEY=''

WALLET1_PRIVATE_KEY=''
WALLET1_PUBLIC_KEY=''

WALLET2_PRIVATE_KEY=''
WALLET2_PUBLIC_KEY=''

WALLET3_PRIVATE_KEY=''
WALLET3_PUBLIC_KEY=''

WALLET4_PRIVATE_KEY=''
WALLET4_PUBLIC_KEY=''

WALLET5_PRIVATE_KEY=''
WALLET5_PUBLIC_KEY=''

WALLET6_PRIVATE_KEY=''
WALLET6_PUBLIC_KEY=''

WALLET7_PRIVATE_KEY=''
WALLET7_PUBLIC_KEY=''

WALLET8_PRIVATE_KEY=''
WALLET8_PUBLIC_KEY=''