# ==============================================
# Hardhat and Solidity Development
# ==============================================
artifacts
cache
coverage*
gasReporterOutput.json
node_modules
typechain-types


